$buttonBackgroundAlternate: rgb(224,223,222);
$buttonBackgroundNormal: rgb(239,240,241);
$buttonDecorationFocus: rgb(61,174,233);
$buttonDecorationHover: rgb(142,203,233);
$buttonForegroundActive: rgb(255,128,224);
$buttonForegroundInactive: rgb(136,135,134);
$buttonForegroundLink: rgb(0,87,174);
$buttonForegroundNegative: rgb(191,3,3);
$buttonForegroundNeutral: rgb(176,128,0);
$buttonForegroundNormal: rgb(49,54,59);
$buttonForegroundPositive: rgb(0,110,40);
$buttonForegroundVisited: rgb(69,40,134);
$selectionBackgroundAlternate: rgb(62,138,204);
$selectionBackgroundNormal: rgb(61,174,233);
$selectionDecorationFocus: rgb(61,174,233);
$selectionDecorationHover: rgb(142,203,233);
$selectionForegroundActive: rgb(255,128,224);
$selectionForegroundInactive: rgb(142,203,233);
$selectionForegroundLink: rgb(0,49,110);
$selectionForegroundNegative: rgb(156,14,14);
$selectionForegroundNeutral: rgb(255,221,0);
$selectionForegroundNormal: rgb(252,252,252);
$selectionForegroundPositive: rgb(128,255,128);
$selectionForegroundVisited: rgb(69,40,134);
$tooltipBackgroundAlternate: rgb(196,224,255);
$tooltipBackgroundNormal: rgb(252,252,252);
$tooltipDecorationFocus: rgb(61,174,233);
$tooltipDecorationHover: rgb(142,203,233);
$tooltipForegroundActive: rgb(255,128,224);
$tooltipForegroundInactive: rgb(96,112,128);
$tooltipForegroundLink: rgb(0,87,174);
$tooltipForegroundNegative: rgb(191,3,3);
$tooltipForegroundNeutral: rgb(176,128,0);
$tooltipForegroundNormal: rgb(49,54,59);
$tooltipForegroundPositive: rgb(0,110,40);
$tooltipForegroundVisited: rgb(69,40,134);
$viewBackgroundAlternate: rgb(248,247,246);
$viewBackgroundNormal: rgb(252,252,252);
$viewDecorationFocus: rgb(61,174,233);
$viewDecorationHover: rgb(142,203,233);
$viewForegroundActive: rgb(255,128,224);
$viewForegroundInactive: rgb(136,135,134);
$viewForegroundLink: rgb(0,87,174);
$viewForegroundNegative: rgb(191,3,3);
$viewForegroundNeutral: rgb(176,128,0);
$viewForegroundNormal: rgb(49,54,59);
$viewForegroundPositive: rgb(0,110,40);
$viewForegroundVisited: rgb(69,40,134);
$windowBackgroundAlternate: rgb(218,217,216);
$windowBackgroundNormal: rgb(239,240,241);
$windowDecorationFocus: rgb(61,174,233);
$windowDecorationHover: rgb(142,203,233);
$windowForegroundActive: rgb(255,128,224);
$windowForegroundInactive: rgb(136,135,134);
$windowForegroundLink: rgb(0,87,174);
$windowForegroundNegative: rgb(191,3,3);
$windowForegroundNeutral: rgb(176,128,0);
$windowForegroundNormal: rgb(49,54,59);
$windowForegroundPositive: rgb(0,110,40);
$windowForegroundVisited: rgb(69,40,134);
$complementaryBackgroundAlternate: rgb(59,64,69);
$complementaryBackgroundNormal: rgb(49,54,59);
$complementaryDecorationFocus: rgb(30,146,255);
$complementaryDecorationHover: rgb(61,174,230);
$complementaryForegroundActive: rgb(246,116,0);
$complementaryForegroundInactive: rgb(175,176,179);
$complementaryForegroundLink: rgb(61,174,230);
$complementaryForegroundNegative: rgb(237,21,21);
$complementaryForegroundNeutral: rgb(201,206,59);
$complementaryForegroundNormal: rgb(239,240,241);
$complementaryForegroundPositive: rgb(17,209,22);
$complementaryForegroundVisited: rgb(61,174,230);
