$buttonBackgroundAlternate: rgb(77,77,77);
$buttonBackgroundNormal: rgb(49,54,59);
$buttonDecorationFocus: rgb(61,174,233);
$buttonDecorationHover: rgb(61,174,233);
$buttonForegroundActive: rgb(61,174,233);
$buttonForegroundInactive: rgb(189,195,199);
$buttonForegroundLink: rgb(41,128,185);
$buttonForegroundNegative: rgb(218,68,83);
$buttonForegroundNeutral: rgb(246,116,0);
$buttonForegroundNormal: rgb(239,240,241);
$buttonForegroundPositive: rgb(39,174,96);
$buttonForegroundVisited: rgb(127,140,141);
$selectionBackgroundAlternate: rgb(29,153,243);
$selectionBackgroundNormal: rgb(61,174,233);
$selectionDecorationFocus: rgb(61,174,233);
$selectionDecorationHover: rgb(61,174,233);
$selectionForegroundActive: rgb(252,252,252);
$selectionForegroundInactive: rgb(239,240,241);
$selectionForegroundLink: rgb(253,188,75);
$selectionForegroundNegative: rgb(218,68,83);
$selectionForegroundNeutral: rgb(246,116,0);
$selectionForegroundNormal: rgb(239,240,241);
$selectionForegroundPositive: rgb(39,174,96);
$selectionForegroundVisited: rgb(189,195,199);
$tooltipBackgroundAlternate: rgb(77,77,77);
$tooltipBackgroundNormal: rgb(49,54,59);
$tooltipDecorationFocus: rgb(61,174,233);
$tooltipDecorationHover: rgb(61,174,233);
$tooltipForegroundActive: rgb(61,174,233);
$tooltipForegroundInactive: rgb(189,195,199);
$tooltipForegroundLink: rgb(41,128,185);
$tooltipForegroundNegative: rgb(218,68,83);
$tooltipForegroundNeutral: rgb(246,116,0);
$tooltipForegroundNormal: rgb(239,240,241);
$tooltipForegroundPositive: rgb(39,174,96);
$tooltipForegroundVisited: rgb(127,140,141);
$viewBackgroundAlternate: rgb(49,54,59);
$viewBackgroundNormal: rgb(35,38,41);
$viewDecorationFocus: rgb(61,174,233);
$viewDecorationHover: rgb(61,174,233);
$viewForegroundActive: rgb(61,174,233);
$viewForegroundInactive: rgb(189,195,199);
$viewForegroundLink: rgb(41,128,185);
$viewForegroundNegative: rgb(218,68,83);
$viewForegroundNeutral: rgb(246,116,0);
$viewForegroundNormal: rgb(239,240,241);
$viewForegroundPositive: rgb(39,174,96);
$viewForegroundVisited: rgb(127,140,141);
$windowBackgroundAlternate: rgb(77,77,77);
$windowBackgroundNormal: rgb(49,54,59);
$windowDecorationFocus: rgb(61,174,233);
$windowDecorationHover: rgb(61,174,233);
$windowForegroundActive: rgb(61,174,233);
$windowForegroundInactive: rgb(189,195,199);
$windowForegroundLink: rgb(41,128,185);
$windowForegroundNegative: rgb(218,68,83);
$windowForegroundNeutral: rgb(246,116,0);
$windowForegroundNormal: rgb(239,240,241);
$windowForegroundPositive: rgb(39,174,96);
$windowForegroundVisited: rgb(127,140,141);
$complementaryBackgroundAlternate: rgb(59,64,69);
$complementaryBackgroundNormal: rgb(49,54,59);
$complementaryDecorationFocus: rgb(30,146,255);
$complementaryDecorationHover: rgb(61,174,230);
$complementaryForegroundActive: rgb(246,116,0);
$complementaryForegroundInactive: rgb(175,176,179);
$complementaryForegroundLink: rgb(61,174,230);
$complementaryForegroundNegative: rgb(237,21,21);
$complementaryForegroundNeutral: rgb(201,206,59);
$complementaryForegroundNormal: rgb(239,240,241);
$complementaryForegroundPositive: rgb(17,209,22);
$complementaryForegroundVisited: rgb(61,174,230);
