$buttonBackgroundAlternate: rgb(189,195,199);
$buttonBackgroundNormal: rgb(77,77,77);
$buttonDecorationFocus: rgb(29,153,243);
$buttonDecorationHover: rgb(77,77,77);
$buttonForegroundActive: rgb(61,174,233);
$buttonForegroundInactive: rgb(127,140,141);
$buttonForegroundLink: rgb(41,128,185);
$buttonForegroundNegative: rgb(218,68,83);
$buttonForegroundNeutral: rgb(246,116,0);
$buttonForegroundNormal: rgb(252,252,252);
$buttonForegroundPositive: rgb(39,174,96);
$buttonForegroundVisited: rgb(127,140,141);
$selectionBackgroundAlternate: rgb(29,153,243);
$selectionBackgroundNormal: rgb(52,73,94);
$selectionDecorationFocus: rgb(29,153,243);
$selectionDecorationHover: rgb(77,77,77);
$selectionForegroundActive: rgb(252,252,252);
$selectionForegroundInactive: rgb(252,252,252);
$selectionForegroundLink: rgb(253,188,75);
$selectionForegroundNegative: rgb(218,68,83);
$selectionForegroundNeutral: rgb(246,116,0);
$selectionForegroundNormal: rgb(239,240,241);
$selectionForegroundPositive: rgb(39,174,96);
$selectionForegroundVisited: rgb(189,195,199);
$tooltipBackgroundAlternate: rgb(77,77,77);
$tooltipBackgroundNormal: rgb(29,153,243);
$tooltipDecorationFocus: rgb(29,153,243);
$tooltipDecorationHover: rgb(77,77,77);
$tooltipForegroundActive: rgb(61,174,233);
$tooltipForegroundInactive: rgb(127,140,141);
$tooltipForegroundLink: rgb(41,128,185);
$tooltipForegroundNegative: rgb(218,68,83);
$tooltipForegroundNeutral: rgb(246,116,0);
$tooltipForegroundNormal: rgb(252,252,252);
$tooltipForegroundPositive: rgb(39,174,96);
$tooltipForegroundVisited: rgb(127,140,141);
$viewBackgroundAlternate: rgb(41,44,48);
$viewBackgroundNormal: rgb(35,38,41);
$viewDecorationFocus: rgb(29,153,243);
$viewDecorationHover: rgb(77,77,77);
$viewForegroundActive: rgb(61,174,233);
$viewForegroundInactive: rgb(127,140,141);
$viewForegroundLink: rgb(41,128,185);
$viewForegroundNegative: rgb(218,68,83);
$viewForegroundNeutral: rgb(246,116,0);
$viewForegroundNormal: rgb(252,252,252);
$viewForegroundPositive: rgb(39,174,96);
$viewForegroundVisited: rgb(127,140,141);
$windowBackgroundAlternate: rgb(189,195,199);
$windowBackgroundNormal: rgb(49,54,59);
$windowDecorationFocus: rgb(29,153,243);
$windowDecorationHover: rgb(77,77,77);
$windowForegroundActive: rgb(61,174,233);
$windowForegroundInactive: rgb(127,140,141);
$windowForegroundLink: rgb(41,128,185);
$windowForegroundNegative: rgb(218,68,83);
$windowForegroundNeutral: rgb(246,116,0);
$windowForegroundNormal: rgb(252,252,252);
$windowForegroundPositive: rgb(39,174,96);
$windowForegroundVisited: rgb(127,140,141);
$complementaryBackgroundAlternate: rgb(41,44,48);
$complementaryBackgroundNormal: rgb(35,38,41);
$complementaryDecorationFocus: rgb(29,153,243);
$complementaryDecorationHover: rgb(77,77,77);
$complementaryForegroundActive: rgb(61,174,233);
$complementaryForegroundInactive: rgb(127,140,141);
$complementaryForegroundLink: rgb(41,128,185);
$complementaryForegroundNegative: rgb(218,68,83);
$complementaryForegroundNeutral: rgb(246,116,0);
$complementaryForegroundNormal: rgb(252,252,252);
$complementaryForegroundPositive: rgb(39,174,96);
$complementaryForegroundVisited: rgb(127,140,141);
